<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Pizza\'s')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<h1>Pizza's</h1>
<table id="pizzatabel">
  <thead>
  <tr>
    <th>Naam</th>
    <th>Prijs</th>
    <th>Pikant</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="pizza : ${allePizzas}" th:object="${pizza}">
    <td><a th:text="*{naam}" th:href="@{/pizzas/{id}(id=*{id})}"></a></td>
    <td th:text="*{prijs}" class="getal"></td>
    <td><span th:if="*{pikant}">pikant</span></td>
  </tr>
  </tbody>
</table>
</body>
</html>